<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970762241705-ln4kthugdj59ol4cumgqpbh3k37c188i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970762241705-ln4kthugdj59ol4cumgqpbh3k37c188i</string>
	<key>API_KEY</key>
	<string>AIzaSyCrkW-Q4JCSUVaZ7vdrL-ElH_DDNV52zes</string>
	<key>GCM_SENDER_ID</key>
	<string>970762241705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trabalho5Final</string>
	<key>PROJECT_ID</key>
	<string>todolist-89438</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-89438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970762241705:ios:9590d5d64deeb72a4f0bb8</string>
</dict>
</plist>